* {
    box-sizing: border-box;
  }
  
/* my color palette */
:root {
    --background: #F9F6F0;
    --darkG:#808274;
    --LightG:#b7b4a2;
    --Violet:#42373a;
    --pic: #dfc1b8;
    --darkpic: #c79a96;
  }
  header {
    padding:  5px;
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    background:var(--background);
    color: black;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:  20px;
    margin:5px;
  }
  nav a{
    font-size: larger;
    text-decoration: none;
    color: black;
    margin: 5px;
    padding:5px;
  }

  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    line-height: 1.5;
  }
  .banner{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(var(--darkG), var(--LightG));
    height: 400px;
    width: 100%;
    justify-content: space-between;
    
  }
  h3 {
    text-align: left;

  }
  .Across{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
 
  #aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-content: end;
  }
  .para{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
  }
  .profile, img {
    position:flex;
    flex-direction: row;
    height: 350px;
    width: fit-content;
    padding: 5px;
    margin-right: 50px;
    border: 5px solid var(--darkG);
    border-radius: 50%;
  }

  #mywork {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .Total {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 800px;
    padding: 10px;
    margin: 10px;
    border: 10px;
    
  }
 
  .BigOne {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    Height:250px;
    width: 750px;
    padding: 5px;
    margin: 5px;
    border: 5px solid var(--darkG);
    align-items: flex-end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    
    
  }
  .SmallOne {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    Height: 125px;
    width: 370px;
    padding: 5px;
    margin: 5px;
    border: 5px solid var(--darkG);
    align-items: flex-end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    
  
  }
  .BigOne{
    background-image: url(../images/placeholder.png) ;
    
  }
  .SmallOne{
    background-image: url(../images/placeholder.png) ;
  }
  h2 {
    text-align: left;
  }


  .contact, a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px;
    text-align: left;
    justify-content: space-between;
    text-decoration: none;
  }

  #contactme {
    
  }
  footer {
    padding: 20px;
    text-align: center;
    background:var(--LightG);
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    header, 
    nav,
    .across, 
    .work, 
    .contact {
      flex-direction: column;
    }
}