* {
    box-sizing: border-box;
  }
  
/* my color palette */
:root {
    --background: #F9F6F0;
    --darkG:#808274;
    --LightG:#b7b4a2;
    --Violet:#42373a;
    --pic: #dfc1b8;
  }
  header {
    padding:  5px;
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    background:var(--LightG);
    color: black;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:  20px;
    margin:5px;
  }
  nav a{
    font-size: larger;
    text-decoration: none;
    color: black;
    margin: 5px;
    padding:5px;
  }

  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    line-height: 1.5;
  }
  .Across{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
 
  #aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-content: end;
  }

  .profile, img {
    position:flex;
    flex-direction: row;
    right: 100px;
    height: 300px;
    width: fit-content;
    background-color: var(--pic);
    padding: 5px;
    border: 1px solid var(--darkG);
    
  }

  #mywork {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:20px;
  }
  
  .Total {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 630px;
    padding: 5px;
    margin: 5px;
  }
 
  .BigOne {
    display: flex;
    flex-wrap: wrap;
    Height:300px;
    width: 600px;
    align-items: flex-end;
    border: 5px solid var(--secondary);
    flex-basis: 1;
    padding: 5px;
    margin: 5px;
    border: 2px solid var(--darkG);
  }
  .SmallOne {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--darkG);
    Height:150px;
    width: 300px;
    align-items: flex-end;
    padding: 5px;
    margin: 5px;
  
  }
  .BigOne{
    background-image: url(../images/placeholder.png) ;
    
  }
  .SmallOne{
    background-image: url(../images/placeholder.png) ;
  }
  h2 {
    text-align: left;
  }

  h3 {
    text-align: left;
  }
  
  #contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px;
  }
  footer {
    padding: 20px;
    text-align: center;
    background:var(--LightG);
    color: black;
  }
  
  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav, 
    aside {
      flex-direction: column;
    }
}