* {
    box-sizing: border-box;
  }
  
/* my color palette */
:root {
    --background: #F9F6F0;
    --darkG:#808274;
    --LightG:#b7b4a2;
    --Violet:#42373a;
    --pic: #dfc1b8;
    --darkpic: #c79a96;
  }
  /* Styling for header */
  header {
    padding:  5px;
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-left: 30px;
    justify-content: space-between;
    background:var(--background);
    color: black;
  }
  /* styling for the nav bar */
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:  20px;
    margin:5px;
  }
  /* Styling for links in nav */
  nav a{
    font-size: larger;
    text-decoration: none;
    color: black;
    margin: 5px;
    padding:5px;
  }
  /* Styling specifies fonts and appearence of the body */
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    line-height: 1.5;
  }
  /* Styling for the banner */
  .banner{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(var(--darkG), var(--LightG));
    height: 400px;
    width: 100%;
    justify-content: space-between;
   
  }

  /* Styling for the elements within the banner */
  div, h3 {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-right: 30px;
    text-decoration: underline var(--darkG);
   
  }
  h3{
    font-size: larger;
  }
   /* Styling for the image in the banner */
   .profile, img {
    position:flex;
    flex-direction: row;
    height: 350px;
    width: fit-content;
    padding: 5px;
    border: 5px solid var(--darkG);
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30px;
  }
  /* Styling for the Across section of the webpage */
  .Across{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-right: 30px;
  }
  /* styling specifies layout for the id about me */
  #aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-content: end;
  }
  /* Styling for the paragraph within the about me section */
  .para{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
  }
  /* Styling for my work section */
  #mywork {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .Total {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 800px;
    padding: 10px;
    margin: 10px;
    margin-right: 30px;
    border: 10px;
  }
 
  .BigOne {
    background-image: url(../images/Bigone.jpg) ;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    Height:250px;
    width: 750px;
    padding: 5px;
    margin: 5px;
    border: 5px solid var(--darkG);
    align-items: flex-end;
  }
  .BigOne:hover {
    background-image: url(../images/Bigone.jpg);
    opacity: 50%;
    background-size: cover;
  }
  .SmallOne, .Portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    Height: 125px;
    width: 370px;
    padding: 5px;
    margin: 5px;
    border: 5px solid var(--darkG);
    align-items: flex-end;
  }

  .SmallOne{
    background-image: url(../images/Study.jpeg) ;
    background-size: cover;
  }
  .SmallOne:hover{
    background-image: url(../images/Study.jpeg) ;
    opacity: 50%;
    background-size: cover;
  }
  .Portfolio{
    background-image: url(../images/portfolio.jpeg) ;
    background-size: cover;
  }
  .Portfolio:hover{
    background-image: url(../images/portfolio.jpeg) ;
    opacity: 50%;
    background-size: cover;
  }
  .text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--Violet);
    background-color: var(--LightG);
    padding: 5px;
    margin: 5px;
    border:1px var(--darkG);
  }
  
  /* styling for all h2s */
  h2 {
    text-align: left;
    margin-left: 20px;
  }
  /* Styling for contact section */
  .contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px;
    text-align: left;
    justify-content: space-between;
    text-decoration: none;
    color: black;
  }
  .info, a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px;
    text-align: left;
    justify-content: space-between;
    text-decoration: none;
    font-size: large;
    color: black;
  }
  
  /* Styling makes the layout responsive to my viewport */
  /* flex-direction stacks the classes named below in a column */
  /* content is all aligned to center as view becomes smaller */
  @media screen and (max-width: 768px) {
   
    header, 
    nav,
    .banner
    .Across, 
    #aboutme,
    .para,
    .work,
    #mywork,
    .Total,
    .contact,
    .info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
   
}